<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

		{% block title %} <title> Commission Tracker </title> {% endblock %}

    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

	<!--additional css -->
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/toolkit-light.css' %}">
	<link rel="stylesheet" href="{% static 'css/application.css' %}">
	<link rel="stylesheet" href="{% static 'css/docs.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">


    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>

</head>

<body>
  <div class="with-iconav">

    <nav class="iconav">
      <a class="iconav-brand" href="{% url 'index' %}">
        <span class="icon icon-leaf iconav-brand-icon"></span>
      </a>
      <div class="iconav-slider">
        <ul class="nav nav-pills iconav-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}" title="Home" data-toggle="tooltip" data-placement="right" data-container="body">
              <span class="icon icon-home"></span>
              <small class="iconav-nav-label hidden-md-up">Home</small>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sales' %}" title="Sales" data-toggle="tooltip" data-placement="right" data-container="body">
              <span class="icon icon-text-document"></span>
              <small class="iconav-nav-label hidden-md-up">Sales</small>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'leases' %}" title="Leases" data-toggle="tooltip" data-placement="right" data-container="body">
              <span class="icon icon-globe"></span>
              <small class="iconav-nav-label hidden-md-up">Leases</small>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="Tenant Reps" data-toggle="tooltip" data-placement="right" data-container="body">
              <span class="icon icon-home"></span>
              <small class="iconav-nav-label hidden-md-up">Tenant Reps</small>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'locations' %}" title="Research" data-toggle="tooltip" data-placement="right" data-container="body">
              <span class="icon icon-home"></span>
              <small class="iconav-nav-label hidden-md-up">Research</small>
            </a>
          </li>


<!-- logged in user-->
          <li class="nav-item">
            <a class="nav-link" href="#" title="Signed in as mdo" data-toggle="tooltip" data-placement="right" data-container="body">
              <img src="../assets/img/avatar-mdo.png" alt="" class="rounded-circle">
              <small class="iconav-nav-label hidden-md-up">@mdo</small>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#createModal" title="Add New" data-toggle="modal" data-placement="right" data-container="body">
              *$*
            </a>
          </li>

        </ul>
      </div>
    </nav>


{% block content %}{% endblock content %}


{% block modal %}

  <div id="createModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createModalLabel">What would you like to add?</h4>
      </div>
      <div class="modal-body">
        <form onsubmit='makePath(this);'>
          <div class="form-group">
            <label for="exampleSelect1">Select an item to add</label>
            <select id="select" class="form-control" id="createNewSelect">
              <option value="lease">Lease</option>
              <option value="sale">Sale</option>
              <option value="location">Location</option>

            </select>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Create</button>
      </div>
    </div>
  </div>

{% endblock modal %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/tether.min.js' %}"></script>
    <script src="{% static 'js/chart.js' %}"></script>
    <script src="{% static 'js/tablesorter.min.js' %}"></script>
    <script src="{% static 'js/toolkit.js' %}"></script>
    <script src="{% static 'js/application.js' %}"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>


  </body>
</html>
