{% extends 'base.html' %}

{% block content %}

   <!--<p><strong>Author:</strong> <a href="{# url 'author-detail' book.author.pk #}"> {{ book.author }} </a></p> -->

   <!--<p><strong>Genres:</strong> <a href=""> {% for option in lease.option.all %}
                                            {{ lease.id }}
                                            {% if not forloop.last %}
                                            {% endif %}
                                            {% endfor %}
                                </a>
  </p>-->

<!--      <p class="{# if copy.status == 'a' #}text-success{# elif copy.status == 'd' #}text-danger{# else #}text-warning{# endif #}">{# copy.get_status_display #}</p>
      {# if copy.status != 'a' #}<p><strong>Due back on:</strong> {# copy.due_back #}</p> {# endif #}-->





  <div class="container">
        <div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Location</h6>
    <h2 class="dashhead-title">{{ lease.location_name }}</h2>
    <p><strong>Property owner:</strong>{{ lease.property_owner_name }} </p>
    <p><strong>Asking price:</strong> {{ lease.rent_price }} </p>
    <p><strong>Size of space:</strong> {{ lease.size_of_transaction }} </p>

  </div>

  <div class="btn-toolbar dashhead-toolbar">
    <div class="btn-toolbar-item input-with-icon">
      <input type="text" class="form-control input-block" placeholder="Search orders">
      <span class="icon icon-magnifying-glass"></span>
    </div>
  </div>
  </div>

  <div class="flextable table-actions">
    <div class="flextable-item flextable-primary">
      <div class="btn-toolbar-item input-with-icon">
        <input type="text" value="{{ }} - {{ }}" class="form-control" data-provide="datepicker">
        <span class="icon icon-calendar"></span>
      </div>
    </div>
    <div class="flextable-item">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-primary">
          <span class="icon icon-pencil"></span>
        </button>
        <button type="button" class="btn btn-outline-primary">
          <span class="icon icon-erase"></span>
        </button>
      </div>
    </div>
  </div>



  <div class="table-responsive">
    <table class="table" data-sort="table">
      <thead>
        <tr>
          <th><input type="checkbox" class="select-all" id="selectAll"></th>
          <th>Order</th>
          <th>Customer name</th>
          <th>Description</th>
          <th>Date</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for option in lease.option_set.all %}

        <tr>
          <td><input type="checkbox" class="select-row"></td>
          <td><a href="#">{{ option.id }}</a></td>
          <td>{{ option.increase_or_decrease_size }}</td>
          <td>ADD A FIELD HERE</td>
          <td>ADD A FIELD HERE</td>
          <td>ADD A FIELD HERE</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>




























{% endblock %}
