{% extends "base.html" %}

{% block content %}
<div class="container">

    <h1>Lease List</h1>

    {% if lease_list %}
    <ul>


      {% for lease in lease_list %}

        <a href="{{ lease.get_absolute_url }}"> {{ lease.property_owner_name }} 
          {{ lease.get_aggregate_lease_commission }}
          <!--<span class="float-right text-muted">{{ lease.get_aggregate_lease_commission }}</span>-->
          {{ lease.property_owner_name }}
        </a>
        <hr>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no leases entered.</p>
    {% endif %}

</div>
{% endblock %}
