{% extends 'base.html' %}

{% block content %}
<div class="container">
   <h1>Name of Location: {{ sale.location_name }}</h1>

   <p><strong>Seller:</strong>{{ sale.seller_name }} </p>
   <p><strong>Asking price:</strong> {{ sale.asking_price }} </p>


   {% if sale.term_set %}
   <div class="hr-divider mt-5 mb-4">
     <h3 class="hr-divider-content hr-divider-heading">Terms of Sale</h3>
   </div>


     <div class="container">

     <div class="table-responsive">
       <table class="table" data-sort="table">
         <thead>
           <tr>
             <th>Id</th>
             <th>Closing Date</th>
             <th>Commission (%)</th>
             <th>Term Commission</th>
           </tr>
         </thead>
         <tbody>

           {% for term in lease.term_set.all %}

           <tr>
             <!--<<td><input type="checkbox" class="select-row"></td>-->
             <td><a href="#">{{ term.id }}</a></td>
             <td>{{ term.end_date }}</td>
             <td>{{ term.commission_rate }}</td>
             <td>{{ term.get_term_commission }}</td>
           </tr>
           {% endfor %}

         </tbody>
       </table>
     </div>
   {% else %}
   <div class="hr-divider mt-5 mb-4">
     <h3 class="hr-divider-content hr-divider-heading">No Sale Terms</h3>
   </div>



     {% endif %}



</div>
  {% endblock %}
